<div >
  <div class="container h-100" aling="center">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col col-md-6 mt-4" align="center">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills mb-4 justify-content-center align-items-center">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Linha de Onibus</a>
            <ng-template ngbNavContent>
              <div class="row ml-4">
                <app-linhas-onibus></app-linhas-onibus>
              </div>

            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Linha de Lotaçao</a>
            <ng-template ngbNavContent>
              <div class="row ml-4">
                <app-linhas-lotacao></app-linhas-lotacao>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>