<div class="container h-100">
  <div class="row h-100">
      <form>
          <div class="form-group form-inline ">
              Busca linha por nome: <input class="form-control ml-2" type="text" name="searchTerm"
                  [(ngModel)]="serviceBusca.searchTerm" />
              <span class="ml-3" *ngIf="serviceBusca.loading$ | async">Carregando...</span>
          </div>

          <div class="row h-100 justify-content-center align-items-center">
              <table class="table table-striped shadow">
                  <thead>
                      <tr>
                          <th scope="col" >Id</th>
                          <th scope="col" >Codigo</th>
                          <th scope="col" sortable="nome">Nome</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let linhas of linhas$ | async">
                          <td>
                              <ngb-highlight [result]="linhas.id | number" ></ngb-highlight>
                          </td>
                          <td>
                              <ngb-highlight [result]="linhas.codigo" >
                              </ngb-highlight>
                          </td>
                          <td>
                              <ngb-highlight [result]="linhas.nome" [term]="serviceBusca.searchTerm"></ngb-highlight>
                          </td>
                          <td><button type="button" class="btn btn-primary float-right" (click)="callItinerario(linhas.id)">Ver
                                  Itinerário</button></td>

                      </tr>
                  </tbody>
              </table>

              <div class="d-flex justify-content-between p-2">
                  <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="serviceBusca.page"
                      [pageSize]="serviceBusca.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                  </ngb-pagination>

                  <select class="custom-select" style="width: auto" name="pageSize"
                      [(ngModel)]="serviceBusca.pageSize">
                      <option [ngValue]="20">20 itens por página</option>
                      <option [ngValue]="50">50 itens por página</option>
                      <option [ngValue]="100">100 itens por página</option>
                      <option [ngValue]="1062">ver todos</option>
                  </select>
              </div>
          </div>
      </form>

  </div>
</div>