.table-striped tbody tr:nth-of-type(odd) {
    background-color:#4acbf7;
    color: white
  }

.btn-primary{
    background-color:#0C7FF6;
    color:white;
}

.shadow {
  box-shadow: rgb(194, 193, 193) 2px 2px 2px 2px;
}