<div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
        <table class="table table-striped shadow">
            <thead>
                <tr>
                    <th class="thcol" scope="col">{{ itinerario.idlinha }} </th>
                    <th scope="col">{{ itinerario.codigo }}</th>
                    <th scope="col">{{ itinerario.nome }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resposta of itinerario.coordenadas; let i=index;">
                    <td *ngIf="i%2 == 0"><img class="ico" src="/assets/ico/icowhite.png" />Localização {{i+1}} </td>
                    <td *ngIf="i%2 == 1"><img class="ico" src="/assets/ico/icoblue.png" />Localização {{i+1}} </td>
                    <td></td>
                    <td></td>
                    <td class="tdButton">
                        <div class="list-group">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary float-right"
                                    (click)="goToGoogleMaps(resposta.lat, resposta.lng)">
                                    Ver no Google Maps</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-9">
        <img class="icoback img-fluid" src="/assets/ico/icotop.png" (click)="onTop()" />
    </div>
</div>
